#container
  #header
    h1 CommunityJS.org
  #nav
    ul
      li 
        a(href= '/') User Groups
      li
        a(href= '/about') About
  #main
    h2 About
    #about
      p CommunityJS.org is an community effort and we encourage everyone to participate. Our first goal is to bring JavaScript interested people together. Independent of their environment, library of choice or skill level. We sincerly beleave that the best way to learn more about JavaScript is to get out there and discuss your ideas with others.

      p So if you are interested in JavaScript you need to: Look for a local user group and join them. There is non in your area? Why not create one and let us know.

      p Right now this site is very bare bone but hopefully helpful. If you are missing something feature please join the discussion.

      p This effort was started by @luebken and @voodootikigod
