#container
  #header
    h1 CommunityJS.org
  #nav
    ul
      li 
        a(href= '/') User Groups
      li
        a(href= 'http://beerjs.com/') BeerJS
      li
        a(href= '/about') About
  #main
    h2 About
    #about
      p 
        | CommunityJS.org wants to bring JavaScript interested people together, independent of their environment, library of choice or skill level. We believe the best way to learn is to get out there, grab a cold beverage of your choice and discuss your ideas with others. 
      p 
        | Right now this site is pretty bare bone and we encourage everyone to participate. Join our discussion at our
        a(href='https://groups.google.com/group/communityjs/') mailinglist
        |  and follow
        a(href='http://twitter.com/communityjs') @communityjs
        |  on Twitter.
      p 
        | This effort was started by 
        a(href='http://twitter.com/luebken') @luebken
        |  and 
        a(href='http://twitter.com/voodootikigod') @voodootikigod