#container
  #header
    h1 CommunityJS.org
  #nav
    ul
      li 
        a(href= '/') User Groups
      li
        a(href= '/') Start your own
      li
        a(href= '/') About
  #main
    h2 User Groups